.btn-refector {
    background: transparent;
    float: right;
    border: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blob-code-deletion .btn-refector {
    color: #cb2431;
    -webkit-box-shadow: inset 0px 0px 0px 1px #cb2431;
    -moz-box-shadow: inset 0px 0px 0px 1px #cb2431;
    box-shadow: inset 0px 0px 0px 1px #cb2431;
}

.blob-code-addition .btn-refector {
    color: #28a745;
    -webkit-box-shadow: inset 0px 0px 0px 1px #28a745;
    -moz-box-shadow: inset 0px 0px 0px 1px #28a745;
    box-shadow: inset 0px 0px 0px 1px #28a745;
}

.blob-code-deletion .btn-refector:hover,
.blob-code-deletion .btn-refector:focus,
.blob-code-deletion .btn-refector:active {
    background: #d06b73;
}

.blob-code-addition .btn-refector:hover,
.blob-code-addition .btn-refector:focus,
.blob-code-addition .btn-refector:active {
    background: #85c794;
}

.diff-refector-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 7;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.diff-refector-popup-close {
    float: right;
}

.refactor-diff-extraction {
    padding: 5px;
    margin-bottom: 5px;
    max-width: 50vw;
    max-height: 200px;
    overflow: scroll;
}
